@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@font-face {
  font-family: "Bleak Chop";
  src: url("./Bleak\ Chop.ttf");
}
* {
  text-align: center;
  margin: 0px;
}
html,
body {
  height: 100vh;
  position: relative;
  overflow-y: scroll;
}
header {
  height: 230px;
  font-family: "Bleak Chop";
  background-color: #f8c86f;
  padding-bottom: 40px;
}

  h1 {
    font-size: 35px;
    color: rgb(239, 8, 8);
    font-family: "Bleak Chop";
    margin-top: -15px;
    letter-spacing: 2px;
  }
  #logo {
    max-height: 180px;
    max-width: 180px;
    margin-top: 25px;
  }
  nav {
    height: auto;
    width: 100%;
    background-color: #febf4e;
    padding: 10px 0px;
  }
  /* falta un float*/
  .menuIcon {
    width: 30px;
    height: 30px;
    float: right;
    margin: 15px 20px 15px 0px;
    display: none;
  }
  #check {
    display: none;
  }
  input {
    font-size: 18px;
    text-align: left;
    padding: 8px 10px 6px 8px;
    margin: 0px 6px 0px 10px;
    box-shadow: 3px 3px 3px rgba(132, 132, 132, 0.13);
    border: 0;
    border-radius: 8px;
    outline: none;
  }
  label {
    padding: 5px;
    border: none;
    font-family: "Hammersmith One", sans-serif;
  }
  select {
    font-size: 18px;
    font-family: "Hammersmith One", sans-serif;
    background-color: #febf4e;
    padding: 6px 10px 6px 10px;
    box-shadow: 2px rgba(132, 132, 132, 0.13);
    border: 0;
    border-radius: 5px;
    outline: none;
  }
  select[name="year"] {
    padding: 8px 12px 8px 12px;
  }
  select:hover {
    background-color: #f8b943;
    transition: 5ms;
  }
  /*No funciona
  option {
    color: #080808;
    background-color: #febf4e;
  }
  option:hover {
    background-color: #fe9a4e;
  }*/
  button {
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #c90040;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    margin-left: 15px;
  }
  button:hover {
    background-color: rgba(255, 12, 89, 0.902);
  }
  footer {
    font-size: 16px;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
    padding: 20px 20px;
    background-color: #febf4e;
    font-family: "Hammersmith One", sans-serif;
  }