@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

body {
  height: 100vh;
}

#root,
.viewComponent,
.factsComponent,
.descriptionComponent {
  height: 100%;
  display: initial;
}

* {
  padding: 0px;
  margin: 0px;
}
header {
  font-family: "Metal Mania", cursive;
  font-style: normal;
  line-height: n;
  width: 100%;
  height: 20vh;
  background-image: url(./img/header-image.png);
  background-size: 506px 234px;
  background-color: #01367c;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
label[for="menu"],
input {
  display: none;
}
h1 {
  width: 450px;
  height: 129px;
  background-color: #da9a05;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}
body {
  background-color: #eaeaea;
}
nav {
  display: flex;
  width: 100%;
}
div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.filters {
  width: 100%;
  height: 46px;
  background-color: #a90000;
  display: flex;
}
label {
  font-family: "Metal Mania", cursive;
  font-size: 20px;
  width: fit-content;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
}
select {
  width: 10%;
  height: 70%;
  margin-top: 8px;
}

.home-btn {
  background-color: #a90000;
  border: none;
}

.home {
  width: 100%;
  height: 70%;
}
button[data-testid="button-clear"] {
  font-family: "Metal Mania", cursive;
  font-size: 20px;
  width: 10%;
  height: 70%;
  margin: 8px 5px 5px 10px;
}
.button{
  font-family: "Metal Mania", cursive;
  font-size: 24px;
  width: 10%;
  height: 70%;
  margin: 8px 15px 5px 15px;
}
h2 {
  font-family: "Metal Mania", cursive;
  font-weight: 200;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin: 10px;
}
ul,
.section-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul div { 
  font-family: "Metal Mania", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

}

ul button {
  font-family: "Metal Mania", cursive;
  font-size: 20px;
  width: 140px;
  height: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d1a879;
  width: 445px;
  height: 550px;
  margin: 30px 55px;
  border-radius: 20px;
  justify-content: space-around;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

img {
  width: 250px;
  height: 346px;
  padding: auto;
  font-weight: 200;
}
h3 {
  font-family: "Metal Mania", cursive;
  font-weight: 200;
  font-size: 40px;
  padding-top: 15px;
}
p {
  width: 270px;
  font-family: "Rubik Mono One", regular;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 {
  font-family: "Rye", cursive;
  font-size: 16;
  padding-bottom: 15px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: "Rye", cursive;
  font-size: 16px;
  color: #858585;
  margin: 40px 0px 40px;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error {
  font-size: 60px;
}

.img-error {
  width: 300px;
  height: 300px;
}

.error-h4 {
  font-size: 30px;
  font-family: "Metal Mania", cursive;
}

.section-details { 
  width: 100%;
  /*height: 65vh;*/
  display: flex;
  flex-direction: row;
  align-content: center;
}

.section-details h2 {
  width: 100%
}

.div-padre {
  /*width: 1100px;
  height: 550px;*/
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  border-radius: 20px;
  background-color: #d1a879;
  justify-content: center;
}

.div-card {
  /*width: 40%;*/
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.div-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
  /*width: 60%;*/
  flex-grow: 5;
}

.div-details p {
  width: 500px;
  
}

.div-details button {
  font-family: "Metal Mania", cursive;
  font-size: 20px;
  width: 160px;
  height: 45px;
  margin: 8px 5px 5px 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2)

}
/*Estilo del h2 que está dentro del ul en facts*/
.factsContainer {
  display: flex;
  flex-direction: column;
}


@media (max-width: 425px) {
  header {
    font-family: "Metal Mania", cursive;
    width: 100%;
    height: 22vh;
    background-image: url(./img/header-image.png);
    background-size: 420px 180px;
    background-color: #01367c;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  nav {
    display: flex;
    flex-direction: wrap;
    width: 100%;
    height: 50px;
  }
  div {
    display: none;
  }
  input[type="checkbox"] {
    display: none;
  }
  input:checked ~ div {
    display: block;
    width: 100%;
    height: 450px;
    background-color: rgba(1, 54, 124, 0.9);
    margin-left: 39px;
    padding: 10px;
    position: relative;
  }
  label[for="menu"] {
    display: inline-block;
    border: 1px;
    border-radius: 5px;
    width: 30px;
    height: 10px;
    margin-top: 12px;
    line-height: 30px;
    color: #eaeaea;
    font-size: 40px;
  }
  select {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 8%;
  }
  label {
    color: #eaeaea;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  }
  h1 {
    width: 257px;
    height: 101px;
    background-color: #da9a05;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  button[data-testid="button-clear"],
  .button {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 8%;
    margin-left: 0px;
    margin-top: 15px;
    font-size: 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1a879;
    width: 310px;
    height: 390px;
    margin: 10px;
  }
  h3 {
    text-align: center;
  }
  img {
    width: 150px;
    height: 200px;
    padding: auto;
  }
  p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
  }
  h4 {
    font-size: 12px;
  }
  .error-h4 {
    font-size: 25px;
  }
}
